# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Outputs
outputs/*.json
outputs/*.jsonl
outputs/*.csv

# OS files
.DS_Store

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Streamlit
.streamlit/secrets.toml

# Local SQLite database
data/*.db
data/*.sqlite